
html
  head
    title noisy
    link(rel='stylesheet',href='style.css')
    script(src='http://localhost:8000/socket.io/socket.io.js')
    script(src='handle.js')
  body
    #paper
      #left
        #topics topics
        #add_topic
          textarea#write_topic
          #button +
      #right
        #posts posts
        textarea#say say