
html
  head
    title noisy
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400',rel='stylesheet',type='text/css')
    link(rel='stylesheet',href='style.css')
    script(src='http://noisy_chat.cnodejs.net/socket.io/socket.io.js')
    script(src='handle.js')
  body
    #paper
      #left
        #topics Topic List
        #create Add Topic
        #say Say
        #name Name
        #clear Clear
      #right