
html
  head
    title noisy
    link(href='http://fonts.googleapis.com/css?family=Josefin+Sans:300,400',rel='stylesheet',type='text/css')
    link(rel='stylesheet',href='style.css')
    script(src='http://localhost:8000/socket.io/socket.io.js')
    script(src='handle.js')
  body
    #paper
      #left
        #topics Topic List
        #create Add Topic
        #chat
          #say Say
        #name Name
      #right
        .post
          .date 19:56
          .name Jiyin Yiyong
          br
          .text 拿出来看了一下，发现很多都忘记了。
        .post
          .date 19:56
          .name Jiyin Yiyong
          br
          .text 选择器，以后还有一部分xPath的选择器。今天的笔记中包括4
        .post
          .date 19:56
          .name 元素
          br
          .text .info sdf sgsfhgdgh dydfg dg fg 
        .post
          .date 19:56
          .name Jiyin Yiyong
          br
          .text ，匹配所有紧随E元素
        .post
          .date 19:56
          .name 很多
          br
          .text :focus { color:#000; background:#ffe
        .post
          .date 19:56
          .name Jiyin Yiyong
          br
          .text 候，曾经做过一点选择器（selector）的笔记。
        .post
          .date 19:56
          .name Jiyin Yiyong
          br
          .text 拿出来看了一下，发现很多都忘记了。
        .post
          .date 19:56
          .name Jiyin Yiyong
          br
          .text 选择器，以后还有一部分xPath的选择器。今天的笔记中包括4
        .post
          .date 19:56
          .name 元素
          br
          .text .info sdf sgsfhgdgh dydfg dg fg 
        .post
          .date 19:56
          .name Jiyin Yiyong
          br
          .text ，匹配所有紧随E元素
        .post
          .date 19:56
          .name 很多
          br
          .text :focus { color:#000; background:#ffe
        .post
          .date 19:56
          .name Jiyin Yiyong
          br
          .text 候，曾经做过一点选择器（selector）的笔记。
        .post
          .date 19:56
          .name Jiyin Yiyong
          br
          .text 拿出来看了一下，发现很多都忘记了。
        .post
          .date 19:56
          .name Jiyin Yiyong
          br
          .text 选择器，以后还有一部分xPath的选择器。今天的笔记中包括4
        .post
          .date 19:56
          .name 元素
          br
          .text .info sdf sgsfhgdgh dydfg dg fg 
        .post
          .date 19:56
          .name Jiyin Yiyong
          br
          .text ，匹配所有紧随E元素
        .post
          .date 19:56
          .name 很多
          br
          .text :focus { color:#000; background:#ffe
        .post
          .date 19:56
          .name Jiyin Yiyong
          br
          .text 候，曾经做过一点选择器（selector）的笔记。