
::-webkit-scrollbar {
  width: 4px;
  background: hsl(30,30%,80%);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  background: hsl(0,20%,70%);
}

body {
  background: url(http://python-assets.b0.upaiyun.com/june/img/main_bg.gif);
  margin: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

#paper {
  width: 1000px;
  margin: 0px auto;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

#left {
  font-weight: lighter;
  width: 15%;
  text-align: right;
  font-size: 28px;
  letter-spacing: 1px;
  padding-top: 50px;
  padding-right: 10px;
  line-height: 50px;
}

#left>div {
  position: relative;
  right: 0px;
  color: hsl(300,10%,50%);
  -webkit-transition-duration: 0.4s;
}

#left>div:hover {
  position: relative;
  right: 20px;
  -webkit-transition-duration: 0.4s;
  text-shadow: 20px 5px 20px hsl(0,0%,50%);
}

#right {
  background: hsla(240,0%,70%,0.4);
  width: 85%;
  overflow-y: scroll;
}

.date, .name {
  display: inline-block;
  margin-right: 20px;
  line-height: 20px;
  color: hsl(0,0%,60%);
}

.post {
  padding: 10px 30px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: hsl(20,0%,84%);
}

.text {
  line-height: 24px;
  font-family: 'wenquanyi micro hei';
}
