
::-webkit-scrollbar {
  width: 4px;
  background: hsl(30,30%,90%);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  background: hsl(0,20%,70%);
}

body {
  background: hsl(200, 80%,96%);
  margin: 0px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

#paper {
  width: 1000px;
  margin: 0px auto;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}

#left {
  font-weight: lighter;
  width: 15%;
  text-align: right;
  font-size: 28px;
  letter-spacing: 1px;
  padding-top: 50px;
  padding-right: 10px;
  line-height: 50px;
}

#left>div {
  position: relative;
  right: 0px;
  color: hsl(300,10%,50%);
  -webkit-transition-duration: 0.4s;
}

#left>div:hover {
  position: relative;
  right: 20px;
  -webkit-transition-duration: 0.4s;
  text-shadow: 20px 5px 20px hsl(0,0%,50%);
}

#right {
  background: hsla(180,40%,90%,0.8);
  width: 85%;
  overflow-y: scroll;
  padding-bottom: 400px;
}

.date, .name, .reply {
  display: inline-block;
  margin-right: 20px;
  line-height: 20px;
  color: hsl(0,0%,60%);
}

.post {
  padding: 10px 30px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: hsl(20,0%,84%);
}

.text {
  line-height: 24px;
  font-family: 'wenquanyi micro hei';
}

.head {
  background: hsl(240,60%,97%);
}

#name_msg, #create_msg {
  margin: 80px 40px 20px;
}

#name_box, #create_box {
  margin: 0px 40px 20px;
  width: 400px;
  height: 40px;
  resize: none;
  -webkit-border-radius: 3px;
  font-size: 18px;
  padding: 8px;
  background: hsl(200,10%,96%);
}

#name_box:focus, #create_box:focus {
  background: white;
}

#create_box {
  width: 700px;
  font-size: 16px;
}

#name_send, #create_send {
  margin: 0px 40px;
}

#block {
  display: inline-block;
  color: hsla(0,0%,0%,0);
  -webkit-transition-duration: 0.4s;
}

#block:hover {
  color: hsla(0,80%,80%,0.6);
  -webkit-transition-duration: 0.4s;
}

#say_box {
  width: 780px;
  height: 30px;
  background: hsl(180,40%,96%);
  border: 0px;
  resize: none;
  -webkit-border-radius: 2px;
  padding: 7px;
  box-sizing: border-box;
}

textarea {
  outline-width: 0px;
  border-width: 0px;
}