
.app-typing {
    display: flex;
    flex-direction: row;
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.app-typing .app-avatar {
    margin: 0 10px;
}

.app-typing .time {
    font-size: 12px;
    color: rgb(179, 179, 179);
}